@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

nav {
    background-color: #1A0B2E;
    border-bottom: 1px solid #412567;
    padding-top: 30px;
    padding-bottom: 30px;

}

nav .nav_content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

nav .logo h2 {
    font-size: 2.75rem;
    cursor: pointer;
}

.logo span {
    background-image: linear-gradient(0deg, #F7E93F, #FB09B4, #9100F8);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

nav .links ul {
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 1rem;
    justify-content: center;
    align-items: center;



}

nav .links ul li {
    padding-bottom: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav .links ul li:hover{
    padding-bottom: 3px;
    transform: scale(1.04);
    border-bottom: 2px solid #9100F8;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
}

a{
    text-decoration: none;
    color: #fff;
}



.btn {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
    background-image: linear-gradient(-300deg, #F7E93F, #FB09B4, #9100F8);
    background-position: center;
    padding: 12px 16px;
    border-radius: 100px;
    gap: 0.5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.btn:hover{
    box-shadow: 0 0 40px 2px rgba(145, 0, 248, 0.6);
}

.hambarger {
    display: none;
    
}

#center {
    display: flex;
    align-items: baseline;
}

@media screen and (max-width: 576px) {
    nav {
        padding: 0;
    }

    nav .links,
    .btn_container {
        display: none;
    }

    .hambarger {
        display: block;
        width: 24px;
    }



    .nav_content {
        max-width: 400px;
        padding: 18px 20px;


    }

    nav .logo h2 {
        font-size: 1.5rem;


    }


}


@media (min-width: 576px) and (max-width: 992px) {
    nav {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    nav .logo h2 {
        font-size: 2rem;

    }

}

/* Main section */


main {
    background-image: url('./assets/hero-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 101px;
    padding-bottom: 101px;
    width: 100%;

}

.mike_container {

    position: relative;



}

.mike_container::after {
    content: "NEW";
    color: #1A0B2E;
    background-color: #00FF88;
    padding: 8px 16px;
    font-weight: 1.125rem;
    font-weight: 500;
    border-radius: 100px;
    position: absolute;
    top: 20px;
    right: 20px;
    box-shadow: 0 3px 27px 0 #00ff888b;
    animation: floatGlow 3s ease-in-out infinite;

}

@keyframes floatGlow {
    0% {
        transform: translateY(0) scale(1);
        box-shadow: 0 0 30px rgba(255, 78, 205, 0.4);
    }

    50% {
        transform: translateY(-15px) scale(1.05);
        box-shadow: 0 0 50px rgba(255, 78, 205, 0.8);
    }

    100% {
        transform: translateY(0) scale(1);
        box-shadow: 0 0 30px rgba(255, 78, 205, 0.4);
    }
}






.microphone {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_container {

    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

}

.text_container h1 {
    font-size: 3.75rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 8px;

}

.text_container>p {
    font-size: 1rem;
    color: #fff;

    margin-bottom: 24px;

}

.gap {
    display: flex;
    gap: 3px;
}

.green_btn {
    border: 1px solid #00FF88;
    border-radius: 100px;
    display: flex;
    color: #00FF88;
    padding: 12px 20px;
    gap: 5px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.green_btn:hover {
    color: #fff;

box-shadow: 0 0 40px 2px rgba(145, 0, 248, 0.6);

    background-image: linear-gradient(-300deg, #F7E93F, #FB09B4, #9100F8);



    border: 1px solid #1A0B2E;


}

.green_btn img {
    width: 20px;
    height: 20px;
}

.button_container {
    display: flex;
    gap: 8px;
}


@media screen and (max-width: 576px) {
    .mike_container {
        background-size: 100% 100%;
        transform: scale(0.572);
    }

    main {
        width: 100%;
        background-position: center;
        object-fit: contain;
    }

    .main_container {
        padding: 0px 20px 40px;
    }

    .text_container {


        margin-top: -40px;

    }

    .text_container h1 {
        font-size: 2.5rem;

        font-weight: 700;
        margin-bottom: 8px;

    }

    .text_container>p {

        text-align: center;
        margin-bottom: 24px;
        color: #fff;
        opacity: 80%;

    }





}






/* About section */

.about {
    background-color: #1A0B2E;
    color: #fff;



}

.about_container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 120px;

}

.about .about_top {
    text-align: center;
    margin-bottom: 80px;

}

.about .about_top h2 {
    font-size: 3rem;
    margin-bottom: 16px;
    font-weight: bold;
}

.about .about_top .middle_para {
    font-size: 1rem;
    margin-bottom: 16px;

    color: #fff;
    opacity: 80%;
    line-height: 20px;
}

.about .about_top .middle_para p {

    opacity: 80%;

}

.about .about_container .about_bottom {

    display: grid;

    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 80px;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid #412567;
    padding-top: 80px;
}

.about .about_container .about_bottom h3 {
    color: #00FF88;
    font-size: 3rem;
    margin-bottom: 16px;
}

.about .about_container .about_bottom p {
    color: #fff;
    text-transform: uppercase;
}

.about .about_container .about_bottom .box {
    align-self: center;
    justify-self: center;


}


@media screen and (max-width: 576px) {

    .about_container {
        max-width: 400px;
        margin: 0 auto;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 40px;


    }

    .about .about_top {

        margin-bottom: 40px;

    }

    .about .about_top h2 {
        font-size: 2rem;
        margin-bottom: 16px;
        font-weight: bold;
    }

    .about .about_container .about_bottom {


        gap: 40px;
        grid-template-columns: repeat(2, 1fr);

        padding-top: 40px;
    }

    .box {
        text-align: center;
    }

    .about .about_container .about_bottom .box {
        align-self: center;



    }

    .about .about_container .about_bottom h3 {

        font-size: 2.5rem;
        margin-bottom: 16px;
    }

}

@media (min-width: 576px) and (max-width: 992px) {
    .about .about_container .about_bottom {


        gap: 60px;
        grid-template-columns: repeat(4, 1fr);
        border-top: 1px solid #412567;
        padding-top: 80px;
    }

    .about_container {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 25px;
        padding-right: 25px;

    }

    .about .about_top {

        margin-bottom: 60px;

    }

    .about .about_container .about_bottom {




        padding-top: 60px;
    }

}


/* Why_choose section */

.why_choose {
    background-color: #230E3D;
}

.why_choose_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0px;

}

.why_choose_container h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "grid_box1 grid_box2 grid_box2"
        "grid_box1 grid_box3 grid_box3"
        "grid_box4 grid_box4 grid_box5"
    ;

    gap: 30px;

}

.grid_box1 {
    grid-area: grid_box1;

}

.grid_box2 {
    grid-area: grid_box2;

}

.grid_box3 {
    grid-area: grid_box3;

}

.grid_box4 {
    grid-area: grid_box4;

}

.grid_box5 {
    grid-area: grid_box5;

}

.grid_box {
    padding: 40px;
    color: #fff;
    background-color: #35116556;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.grid_box img {
    width: 60px;


}

.grid_box h4 {
    font-size: 1.5rem;
    font-weight: bold;

}

.grid_box p {
    font-size: 1rem;
    color: #fff;
    opacity: 80%;
    line-height: 24px;

}

@media screen and (max-width: 576px) {

    .why_choose_container {
        max-width: 400px;
        margin: 0 auto;
        padding: 40px 20px;

    }

    .why_choose_container h2 {

        font-size: 2rem;


        margin-bottom: 16px;
    }

    .grid {
        display: grid;

        grid-template-areas:
            "grid_box1 grid_box1 grid_box1"
            "grid_box2 grid_box2 grid_box2"
            "grid_box3 grid_box3 grid_box3"
            "grid_box4 grid_box4 grid_box4"
            "grid_box5 grid_box5 grid_box5"
        ;


        gap: 16px;

    }

    .grid_box {
        padding: 24px;


        border-radius: 24px;




        gap: 16px;
    }

    .grid_box h4 {
        font-size: 1.375rem;


    }

}

.grid .grid_box:hover{
    transition: all 0.3s ease-in;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.grid .grid_box:hover{
    transform: scale(1.03);

}

@media (min-width: 576px) and (max-width: 992px) {

    .why_choose_container {


        padding: 60px 25px;

    }


    .grid {
        display: grid;

        grid-template-areas:
            "grid_box1 grid_box1 grid_box1"
            "grid_box2 grid_box2 grid_box2"
            "grid_box3 grid_box3 grid_box3"
            "grid_box4 grid_box4 grid_box4"
            "grid_box5 grid_box5 grid_box5"
        ;


        gap: 16px;


    }

}

/* featured episodes */

.featured_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0;
}

.featured {
    background-color: #1A0B2E;
    color: #fff;
}

.featured_container h2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.video_card_container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.video_card {
    width: 380px;
    border-bottom-left-radius: 30px;


}

.video_card iframe {
    width: 100%;
    height: 214px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.video_card .featured_text_container {
    /* background-color: #250D44; */
    background-color: #250D44;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 0 24px;
}

.video_card h3 {
    font-size: 1.5rem;
    padding-top: 24px;
    margin-bottom: 12px;
    font-weight: bold;

}

.video_card p {
    color: #fff;
    opacity: 80%;
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 12px;
}

.time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    padding-bottom: 24px;
}

.time img {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 576px) {
    .featured_container {
        max-width: 400px;

        padding: 40px 20px;
    }

    .featured_container h2 {
        font-size: 2rem;

        margin-bottom: 24px;
    }

    .video_card_container {

        gap: 16px;


    }

    .video_card {
        width: 400px;



    }

    .video_card iframe {

        height: 225px;


    }

    .video_card .featured_text_container {


        padding: 0 16px;
    }

    .video_card h3 {
        font-size: 1.25rem;
        padding-top: 16px;
        margin-bottom: 8px;


    }

    .video_card p {

        margin-bottom: 8px;
    }

    .time {

        padding-bottom: 16px;
    }

}

@media (min-width: 576px) and (max-width: 992px) {
    .featured_container {

        padding: 60px 25px;
    }
}


/* host section */
.host {
    background-color: #1A0B2E;

}

.host_container {
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
    padding-bottom: 120px;
}

.host_container h2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.host_card {
    background-color: #250D44;
    border-radius: 40px;
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.host_card .host_img {
    width: 200px;

}



.host_text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.host_text h3 {
    font-size: 2rem;
    font-weight: bold;
}

.host_text p {
    font-size: 1rem;
    line-height: 24px;
    opacity: 80%;
}

.host_social_icons {
    display: flex;
    gap: 8px;

}

.host_social_icons img {
    width: 100%;
    height: 100%;
    max-width: 40px;
    border: 1px solid #533C72;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}


.host_social_icons img:hover {
    transform: scale(1.2);

}



@media screen and (max-width: 576px) {

    .host_container {
        max-width: 400px;
        padding: 0 20px 40px;


    }

    .host_container h2 {
        font-size: 2rem;

        margin-bottom: 24px;
    }

    .host_card {
        flex-direction: column;


        padding: 24px;

        gap: 16px;
    }

    .host_card .host_img {
        width: 150px;
    }

    .host_text {
        align-items: center;
        text-align: center;
    }

    .host_text h3 {
        font-size: 1.5rem;

    }

    .host_text p {
        font-size: 1rem;
        line-height: 24px;
        opacity: 80%;

    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .host_container {

        padding: 0 25px 60px;


    }
}


/* footer section */

footer {
    background-image: url("./assets/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0;
}

.footer_container .logo h2 {
    font-size: 4.625rem;
    text-align: center;
    margin-bottom: 32px;
    color: #fff;
}

.links {
    display: flex;
    color: #fff;
    opacity: 80%;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.links div {
    display: flex;
    gap: 2.5px;
    cursor: pointer;
}

.copyright_para {
    color: #fff;
    opacity: 80%;
    text-align: center;
}


@media screen and (max-width: 576px) {

    footer {
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;


    }

    .footer_container {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 40px 20px;
    }

    .footer_container .logo h2 {
        font-size: 2.625rem;

        margin-bottom: 24px;

    }

    .links {


        gap: 16px;
        max-width: 255px;
        margin-bottom: 24px;
    }

}

@media (min-width: 576px) and (max-width: 992px) {
    .host_container {

        padding: 0 25px 60px;


    }

    .footer_container {

        padding: 60px 25px;
    }

    .footer_container .logo h2 {
        font-size: 2.3rem;

        margin-bottom: 24px;

    }
}