
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
}

nav{
    background-color: #1A0B2E;
    border-bottom: 1px solid #412567;

}

.nav_content{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    
    color: #fff;
}

nav .logo h2{
    font-size: 2.75rem;
    cursor: pointer;

}

nav .logo span{
    background-image: linear-gradient(0deg,#F7E93F, #FB09B4, #9100F8);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

nav .links ul{
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 1rem;

}

nav .links ul li{
    cursor: pointer;
}
button{
    outline: none;
    border: none;
    background-color: transparent;
}

.btn{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
    background-image: linear-gradient(-300deg,#F7E93F, #FB09B4, #9100F8);
    background-position: center;
    padding: 12px 16px;
    border-radius: 100px;
    gap: 0.5px;
    cursor: pointer;

}

.hambarger{
    display: none;
}


@media screen and (max-width: 576px) {

    nav .links, .btn_container{
        display: none;
    }

    .hambarger{
        display: block;
        width: 24px;
    }

    .nav_content{
        max-width: 400px;
        padding: 18px 20px;
       
        
    }
    nav .logo h2{
    font-size: 1.5rem;
    

}

    
}